@model UtopiaCity.Models.TimelineModel.CollectionDataModel.MultipleModel
<h1>Hello from Common Model</h1>


<nav class="nav nav-pills nav-fill">
    <a class="nav-item nav-link" href="@Url.Action("Index", "Schedule", new {name="Sunny" }, null)">Sunny</a>
    <a class="nav-item nav-link" href="@Url.Action("Index", "Schedule", new {name="Rainy" }, null)">Rainy</a>
    <a class="nav-item nav-link" href="@Url.Action("Index", "Schedule", new {name="Cloudy" }, null)">Cloudy</a>
    <a class="nav-item nav-link" href="@Url.Action("Index", "Schedule", new {name="Foggy" }, null)">Foggy</a>
</nav>


@foreach (var item in Model.Flight)
{
    <li>@item.FlightNumber</li>
    <li>@item.Weather</li>
}
