@model UtopiaCity.Models.CitizenAccount.CitizensTask

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Task Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReminderDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReminderDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to Tasks</a>
</div>
