@model IEnumerable<RequestToAdministrationViewModel>

@{
    ViewData["Title"] = "AllRequestsToAdministration";
    string id = default(string);
    DateTime date = default(DateTime);
}

<h1>AllRequestsToAdministration</h1>

<p>
    <a class="btn btn-outline-primary" role="button" asp-action="Create">Create New Request</a>
    <a class="btn btn-outline-dark" role="button" asp-controller="SportComplex" asp-action="AllSportComplexes">All Sport Complexes</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfRequest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsApproved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsReviewed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SportComplexTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeOfSport)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Available)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfRequest)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsApproved)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsReviewed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SportComplexTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeOfSport)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Available)
                </td>
                <td>
                    <a class="btn btn-outline-success btn-sm" role="button" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a class="btn btn-outline-info btn-sm" role="button" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a class="btn btn-outline-danger btn-sm" role="button" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (ViewBag.IsAllRequestToAdministrationPrinted)
{
    <div class="row">
        <div class="w-50">
            <form asp-action="AllRequestsToAdministrationBySportComplexId">
                <div>
                    <h5>All Requests By Sport Complex Id</h5>
                    <div class="input-group mb-4">
                        <label asp-for="@id" class="input-group-text"></label>
                        <select asp-for="@id" class="form-control">
                            @foreach (var sportComplexId in ViewBag.SportComplexesIds)
                            {
                                <option value="@sportComplexId">
                                    @sportComplexId
                                </option>
                            }
                        </select>
                        <span asp-validation-for="@id" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Show" class="btn btn-outline-dark" />
                </div>
            </form>
        </div>
        <div class="w-50">
            <form asp-action="AllRequestsToAdministrationByDate">
                <div>
                    <h5>All Requests By Date</h5>
                    <label class="input-group-text">Date Of Request</label>
                    <input type="date" asp-for="@date" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Show" class="btn btn-outline-dark" />
                </div>
            </form>
        </div>
    </div>

}
else
{
    <a class="btn btn-outline-primary" role="button" asp-action="AllRequestsToAdministration">All Requests To The Administration</a>
}