@model RequestToAdministrationViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>RequestToAdministration</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="input-group mb-3">
                <label asp-for="Description" class="input-group-text"></label>
                <input asp-for="Description" class="form-control" readonly/>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="input-group mb-3">
                <label asp-for="DateOfRequest" class="input-group-text"></label>
                <input asp-for="DateOfRequest" class="form-control" readonly/>
                <span asp-validation-for="DateOfRequest" class="text-danger"></span>
            </div>
            <div class="input-group mb-3">
                <label asp-for="@Model.SportComplexTitle" class="input-group-text"></label>
                <input asp-for="@Model.SportComplexTitle" class="form-control" readonly />
                <span asp-validation-for="@Model.SportComplexTitle" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsApproved"/> @Html.DisplayNameFor(model => model.IsApproved)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsReviewed" disabled/> @Html.DisplayNameFor(model => model.IsReviewed)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Available" disabled/> @Html.DisplayNameFor(model => model.Available)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-outline-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-outline-dark" role="button" asp-action="AllRequestsToAdministration">All Requests To The Administration</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
