@model UtopiaCity.Models.Airport.TransportManagerSystem.TransportManager

<div>
    <h4>TransportManager</h4>
    <hr />
    <style>
        .newCol,.col-sm-2
        {
            flex: 0 0 30%;
            max-width: 30%;
        }
        .newColum,.col-sm-10{
            flex: 0 0 70%;
            max-width: 70%;
        }
    </style>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TypeOfOrder)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TypeOfOrder)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ForPassenger)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ForPassenger.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ForCompany)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ForCompany.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
