@model UtopiaCity.Models.FireSystem.FireSafetyCheck

@{
    ViewData["Title"] = "DetailsFireSafetyCheckView";
}

<h1>DetailsFireSafetyCheckView</h1>

<div>
    <h4>FireSafetyCheck</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObjectName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObjectName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FireSafetyDocuments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FireSafetyDocuments)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FireFightingEquipment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FireFightingEquipment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Journals)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Journals)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FireSafetySigns)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FireSafetySigns)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EscapeRoutes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EscapeRoutes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SmokingAreas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SmokingAreas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.FullName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
