@using Microsoft.AspNetCore.Mvc.Localization
@model IEnumerable<UtopiaCity.Models.PublicCatering.Restaurant>
@inject IViewLocalizer _localizer

@{
    ViewData["Title"] = "RestaurantListView";
}


<h1>@_localizer["OurRestaurants"]</h1>

<p>
    <a asp-action="Create">@_localizer["AddNewRestaurant"]</a>
</p>
<p>
    <a asp-controller="Reservation" asp-action="Index">@_localizer["YourBookingList"]</a>
</p>
<p>
    <a asp-controller="RestaurantType" asp-action="Create">@_localizer["AddNewTypeOfRestaurant"]</a>
</p>
<p>
    <a asp-controller="RestaurantType" asp-action="Index">@_localizer["ListOfType"]</a>
</p>

@if (!Model.Any())
{
    <h2>List is empty!</h2>
}
else
{
    <table class="table"> 
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RestaurantType)
            </th>
            <th>
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RestaurantType.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">@_localizer["Edit"]</a> | 
                    <a asp-action="Details" asp-route-id="@item.Id">@_localizer["Details"]</a> | 
                    <a asp-action="Delete" asp-route-id="@item.Id">@_localizer["Delete"]</a> |  
                    <a asp-controller="Reservation" asp-action="Create" asp-route-id="@item.Id">@_localizer["Booking"]</a> 
                </td>
            </tr>
        }
        </tbody>
    </table>
}