@model IEnumerable<UtopiaCity.Models.PublicCatering.Restaurant>

@{
    ViewData["Title"] = "RestaurantListView";
}

<h1>Our Restaurants!</h1>

<p>
    <a asp-action="Create">Add new restaurant</a>
</p>
<p>
    <a asp-controller="Reservation" asp-action="Index">Your booking list</a>
</p>
<p>
    <a asp-controller="RestaurantType" asp-action="Create">Add new type of restaurant</a>
</p>
<p>
    <a asp-controller="RestaurantType" asp-action="Index">List of type</a>
</p>

@if (!Model.Any())
{
    <h2>List is empty!</h2>
}
else
{
    <table class="table"> 
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RestaurantType)
            </th>
            <th>
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RestaurantType.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                    <a asp-controller="Reservation" asp-action="Create" asp-route-id="@item.Id">Booking</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}