@model UtopiaCity.Models.Airport.Passenger

@{
    ViewData["Title"] = "PassengerDetailsView";
}

<h1>Passenger Details</h1>

<div>
    <h4>Passenger</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PassengerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResidentAccount.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProgressStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProgressStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PassengerStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PassengerStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResidentAccount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResidentAccount.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="ListOfDeparted">Back to List</a>
</div>
