@model UtopiaCity.Models.Airport.Flight

@{
    ViewData["Title"] = "DetailsFlightView";
}

<h1>DetailsFlightView</h1>

<div>
    <h4>Flight</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FlightNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FlightNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LocationPoint)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LocationPoint)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DestinationPoint)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DestinationPoint)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ArrivalTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ArrivalTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DepartureTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DepartureTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TypeOfAircraft)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TypeOfAircraft)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Weather)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Weather)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <a asp-action="Index">Back to List</a>
</div>

