@model UtopiaCity.Models.FireSystem.ManagerSystemTransportAndEmployees.EmployeeManagement

@{
    ViewData["Title"] = "DeleteEmployeeManagementView";
}

<h1>DeleteEmployeeManagementView</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>EmployeeManagement</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Equipment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Equipment)
        </dd>
    </dl>
    
    <form asp-action="DeleteEmployeeManagementView">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
