@model UtopiaCity.Models.Clinic.ClinicVisit

@{
    ViewData["Title"] = "DetailsClinicVisitView";
}

<h1>DetailsClinicVisitView</h1>

<div>
    <h4>ClinicVisit</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Visit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Visit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VisitTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VisitTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
