@model IEnumerable<UtopiaCity.Models.Airport.Flight>
<h1>Hello from Searching Page</h1>

<form asp-controller="TimelineBasic" asp-action="Searching">
    <p>
        Input time of Departure/Arrival: <input type="text" name="SearchString" method="get" />
        <input type="submit" value="Поиск" />
    </p>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                Flight Number
            </th>
            <th>
                From
            </th>
            <th>
                To
            </th>
            <th>
                Departure
            </th>
            <th>
                Arrival
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FlightNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LocationPoint)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DestinationPoint)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartureTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArrivalTime)
                </td>
            </tr>
        }
    </tbody>
</table>