@model IEnumerable<SportComplexViewModel>

@{
    ViewData["Title"] = "AllSportComplexes";
}

<h1>AllSportComplexes</h1>

<p>
    <a class="btn btn-outline-primary" role="button" asp-action="Create">Create New</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SportComplexTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfSeats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BuildDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeOfSport)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SportComplexTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfSeats)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BuildDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeOfSport)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    <a class="btn btn-outline-success btn-sm" role="button" asp-action="Edit" asp-route-id="@item.SportComplexId">Edit</a> |
                    <a class="btn btn-outline-info btn-sm" role="button" asp-action="Details" asp-route-id="@item.SportComplexId">Details</a> |
                    <a class="btn btn-outline-danger btn-sm" role="button" asp-action="Delete" asp-route-id="@item.SportComplexId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>