@model SportComplexViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SportComplex</h4>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col">
                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.SportComplexTitle)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.SportComplexTitle)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.NumberOfSeats)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.NumberOfSeats)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.BuildDate)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.BuildDate)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.TypeOfSport)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.TypeOfSport)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Address)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Address)
                    </dd>
                </dl>
            </div>
            <div class="col text-center">
                <img src=@("/images/sport-complexes/" + Model.TypeOfSport + ".jpg") class="rounded sportComplexImage w-75" alt="Sport Complex image" />
            </div>
        </div>
    </div>
</div>
<div>
    <a class="btn btn-outline-primary" role="button" asp-action="Edit" asp-route-id="@Model.SportComplexId">Edit</a> |
    <a class="btn btn-outline-secondary" role="button" asp-action="AllSportComplexes">Back to List</a>
</div>