@model UtopiaCity.Models.FireSystem.FireSafetyCheckRequest

@{
    ViewData["Title"] = "DetailsFireSafetyCheckRequestView";
}

<h1>DetailsFireSafetyCheckRequestView</h1>

<div>
    <h4>FireSafetyCheckRequest</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObjectName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObjectName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
