@model IEnumerable<SportTicketViewModel>

@{
    ViewData["Title"] = "AllSportTickets";
}

<h1>AllSportTickets</h1>

<p>
    <a class="btn btn-outline-primary" role="button" asp-controller="SportEvent" asp-action="AllSportEvents">Sport events</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SportComplexTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SportEventTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfTheEvent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VisitorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VisitorSurname)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SportComplexTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SportEventTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfTheEvent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VisitorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VisitorSurname)
            </td>
            @if (User.Identity.IsAuthenticated)
            {
                <td>
                    <a class="btn btn-outline-info btn-sm" role="button" asp-action="Details" asp-route-id="@item.SportTicketId">Details</a> |
                    <a class="btn btn-outline-danger btn-sm" role="button" asp-action="Delete" asp-route-id="@item.SportTicketId">Delete</a>
                </td>
            }
            else
            {
                <td>
                    <p>Please, sign in</p>
                </td>
            }
        </tr>
}
    </tbody>
</table>
