@model SportTicketViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SportTicket</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SportComplexTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SportEventTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfTheEvent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VisitorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VisitorSurname)
        </dd>
    </dl>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.SportTicketId">Edit</a> |*@
    <a asp-action="AllSportTickets">Back to List</a>
</div>
