@model IEnumerable<UtopiaCity.Models.Sport.SportEvent>

@{
    ViewData["Title"] = "AllSportEvents";
}

<h1>AllSportEvents</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfTheEvent)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfTheEvent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SportComplex.Title) <a asp-controller="SportComplex" asp-action="Details">Sport complex details</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SportComplex.Address)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SportEventId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SportEventId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SportEventId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
