@model UtopiaCity.Models.Sport.SportEvent

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SportEvent</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfTheEvent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateOfTheEvent)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SportComplex.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SportComplex.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SportComplex.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SportComplex.Address)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SportEventId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
