@model UtopiaCity.Models.Airport.Airline

@{
    ViewData["Title"] = "AirlineDetailsView";
}

<h1>AirlineDetailsView</h1>

<div>
    <h4>Airline</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AirlineName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AirlineName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aircraft)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aircraft)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvailableDirections)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvailableDirections)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
