@model UtopiaCity.Models.Media.DataCapture

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DataCapture</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Header)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Header)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublicationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublicationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EditorApprove)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EditorApprove)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApproversApprove)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApproversApprove)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
